body {
    font-family: Arial;
}
a {
    text-decoration: none;
}
.row {
}
.row:after {
    display: table;
    content: "";
    clear: both;
}
.col-6 {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding: 0 30px;
}
.col-4 {
    box-sizing: border-box;
    width: 33.33%;
    float: left;
    padding: 0 30px;
}
.col-8 {
    box-sizing: border-box;
    width: 66.66%;
    float: left;
    padding: 0 30px;
}
.col-3 {
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding: 0 30px;
}