nav {
	padding: 0.3em 2em;
	background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.menu-item {
	color: #e6e6e6;
	text-decoration: none;
	margin-left: 2em;
	text-transform: uppercase;
	font-size: 0.9em;
    cursor: pointer;
}
.menu-item:hover {
	border-bottom: 1px solid yellow;
}
