body {
	font-family: Arial;
	background: #333;
	color: #e6e6e6;
}
a {
    color :#e6e6e6;
    text-decoration: none;
}
.row {
}
.row:after {
    display: table;
    content: "";
    clear: both;
}
.col-6 {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding: 0 30px;
}
.col-4 {
    box-sizing: border-box;
    width: 33.33%;
    float: left;
    padding: 0 30px;
}
.col-8 {
    box-sizing: border-box;
    width: 66.66%;
    float: left;
    padding: 0 30px;
}