#abrir-contactos {
    width: 100%;
    background: #e6e6e6;
    color: #797979;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 0.3em 0;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
#contactos {
    background: #e6e6e6;
    position: fixed;
    left: 0;
    width: 100%;
    padding: 3em 0 5em;
    color: #797979;
}
h4 {
    text-transform: uppercase;
    text-align: center;
}
input {
    width: 100%;
}
.container {
    width: 60%;
    margin: 0 auto;
}
.item-contacto {
    margin-top: 1.5em;
}
label {
    font-weight: 600;
    padding-left: 1em;
    margin-bottom: 0.5em;
    display: inline-block;
}
.button-container {
    width: 50%;
    margin: 0 auto;
}
.button-container input {
    background: #333;
    color: yellow;
    padding: 0.5em 0.6em;
    border-radius: 3px;
    margin-top: 3em;
    cursor: pointer;
    font-weight: 600;
}
a {
    color: #797979;
}
#contactos-infos {
    margin-top: 2em;
}
#contactos-infos .row > div {
    margin-top: 1em;
}
#botao-fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    cursor: pointer;
}