div {
    background-color: #795548;
    color: #fefefe;
    padding: 0.8em 3em;
    text-align: right;
    margin-bottom: 3em;
}
div a {
    text-transform: uppercase;
    margin-left: 2em;
    font-weight: bold;
    cursor: pointer;
}
div a:hover {
    color: yellow;
}
