<div
    id="abrir-contactos"
    (click)="abrir()"
>
    Contactar
</div>
<div
    id="contactos"
    [@abrirFechar]="estaAberto() ? 'aberto' : 'fechado'"
>
    <div
        id="botao-fechar"
        (click)="fechar()"
    >
        x
    </div>
    <div class="container">
        <h4>
            Contactar
        </h4>
        <div class="row">
            <div class="col-6">
                <p>
                    Preenche o formulário abaixo
                </p>
                <div class="item-contacto">
                    <label>
                        Nome
                    </label>
                    <div>
                        <input type="text" value="" />
                    </div>
                </div>
                <div class="item-contacto">
                    <label>
                        Email
                    </label>
                    <div>
                        <input type="text" value="" />
                    </div>
                </div>
                <div class="item-contacto">
                    <label>
                        Telefone
                    </label>
                    <div>
                        <input type="text" value="" />
                    </div>
                </div>
                <div class="button-container">
                    <input type="button" value="ENVIAR CONTACTO" />
                </div>
            </div>
            <div class="col-6">
                <p>
                    Ou contacta-me directamente através do meu
                </p>
                <div id="contactos-infos">
                    <div class="row">
                        <div class="col-4">
                            <b>email:</b>
                        </div>
                        <div class="col-8">
                            email@email.com
                        </div>
                        <div class="col-4">
                            <b>telefone:</b>
                        </div>
                        <div class="col-8">
                            900000000
                        </div>
                        <div class="col-4">
                            <b>facebook: </b>
                        </div>
                        <div class="col-8">
                            <a href="https://www.facebook.com/username.1">facebook.com/username.1</a>
                        </div>
                        <div class="col-4">
                            <b>linkedin: </b>
                        </div>
                        <div class="col-8">
                            <a href="https://www.linkedin.com/username">linkedin.com/username</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>