#produto {
    margin-bottom: 30px;
}
#imagem {
    text-align: center;
}
#cta {
    text-align: center;
}
#cta button {
    background: red;
    color: white;
    border-radius: 3px;
    padding: 6px 8px;
}