section {
	width: 40%;
	margin: 0 auto;
	text-align: right;
	margin-top: 5em;
}

/* titulo css */
header {
    margin-top: 5em;
    text-align: right;
}
header h1 {
    margin-right: 25%;
}
header h1 span {
    border-bottom: 1px solid yellow;
    padding: 0 0 0.5em 2em;
}
