<div class="container">
    <div class="row">
        <div
            *ngFor="let produto of obterProdutos()"
            class="col-4"
        >
            <app-produto
                [produto]="produto"
            ></app-produto>
        </div>
    </div>
</div>