<div class="produto-detalhe">
	<div class="row">
		<div class="col-6">
			<span class="label">nome:</span>
			{{ produto.nome }}
		</div>
		<div class="col-6">
			<span class="label">estado:</span>
			{{ estado() }}
		</div>
		<div class="col-6">
			<span class="label">tipo:</span>
			{{ produto.tipo }}
		</div>
		<div class="col-6">
			<span class="label">preço:</span>
			{{ produto.preco }} €
		</div>
	</div>
</div>