<div id="configurar">
    <div class="row">
        <div class="col-6">
            <input
                type="button"
                value="cronómetro"
                [ngClass]="{ selecionado: configurar === 'cronometro' }"
                (click)="configurar = 'cronometro'"
            />
        </div>
        <div class="col-6">
            <input
                type="button"
                value="temporizador"
                [ngClass]="{ selecionado: configurar === 'temporizador' }"
                (click)="configurar = 'temporizador'"
            />
        </div>
    </div>
</div>
<app-configurar-cronometro
    *ngIf="configurar === 'cronometro'"
    (eventoComecar)="emitirComecar($event)"
    (eventoParar)="emitirParar()"
    (eventoReset)="emitirReset()"
></app-configurar-cronometro>
<app-configurar-temporizador
    *ngIf="configurar === 'temporizador'"
    (eventoComecar)="emitirComecar($event)"
    (eventoParar)="emitirParar()"
    (eventoReset)="emitirReset()"
></app-configurar-temporizador>