section {
    width: 60%;
    margin: 0 auto;
    margin-top: 5em;
}
h1 > div {
    display: inline-block;
}
.nome {
    font-weight: 400;
    vertical-align: top;
    margin-top: 80px;
    padding-left: 30px;
}
#content {
    margin-top: 3em;
    width: 70%;
    margin: 0 auto;
}
h3 {
    margin-top: 2em;
}
p {
    text-align: justify;
}