<div class="container">
    <div *ngIf="!obterProdutos().length">
        O carrinho está vazio.
    </div>
    <div *ngIf="obterProdutos().length">
        <div
            *ngFor="let produto of obterProdutos(); let index = index"
            class="row"
        >
            <div class="col-4">
                <img [src]="produto.thumbnailUrl" />
            </div>
            <div class="col-4">
                {{ produto .title }}
            </div>
            <div class="col-4">
                <button (click)="removerProdutoCarrinho(index)">
                    remover x
                </button>
            </div>
        </div>
    </div>
</div>