#lista .container {
	background: #ef9a9a;
	padding: 2em 3em;
	border-radius: 5px;
}
#lista .header h3 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.4em;
	width: 20%;
	margin: 0 auto 0.8em;
}
.adicionar-produto {
	width: 100%;
	text-align: left;
}