<div id="configurar-temporizador">
    <div class="row">
        <div class="col-3">
            <select [(ngModel)]="minuto">
                <option *ngFor="let minuto of minutos">
                    {{ minuto }}
                </option>
            </select>
            mins
            <select [(ngModel)]="segundo">
                <option *ngFor="let segundo of segundos">
                    {{ segundo }}
                </option>
            </select>
            segs
        </div>
        <div class="col-3">
            <input
                type="button"
                value="Começar"
                (click)="emitirComecar()"
            />
        </div>
        <div class="col-3">
            <input
                type="button"
                value="Parar"
                (click)="emitirParar()"
            />
        </div>
        <div class="col-3">
            <input
                type="button"
                value="Reset"
                (click)="emitirReset()"
            />
        </div>
    </div>
</div>