<nav>
	<app-logo></app-logo>
	<a
        class="menu-item"
        routerLink="/inicio"
    >
        Início
    </a>
	<a
        routerLink="/projectos"
        class="menu-item"
    >
        Projectos
    </a>
    <a
        routerLink="/sobre"
        class="menu-item"
    >
        Sobre
    </a>
    <span
        class="menu-item"
        (click)="alternarContactosAberto()"
    >
        Contactos
    </span>
</nav>