<div id="configurar-cronometro">
    <div class="row">
        <div class="col-4">
            <input
                type="button"
                value="Começar"
                (click)="emitirComecar()"
            >
        </div>
        <div class="col-4">
            <input
                type="button"
                value="Parar"
                (click)="emitirParar()"
            >
        </div>
        <div class="col-4">
            <input
                type="button"
                value="Reset"
                (click)="emitirReset()"
            >
        </div>
    </div>
</div>
