<!--The content below is only a placeholder and can be replaced.-->
<div id="lista">
	<app-header [titulo]="tituloLista"></app-header>
	<div class="container">
		<div *ngFor="let produto of produtos; let index = index">
			<div
			    class="produto"
			    (click)="alternarMarcar()"
			>
			    <div
			        class="row"
			    >
			        <div class="col-9">
			            <div
			                class="align-left texto"
			            >
			                <span class="numero">
			                	{{ index + 1 }}.
			            	</span>
			            	<span class="nome">
			                	{{ produto.nome }}
			                </span>
			            </div>
			        </div>
			        <div class="col-3 align-right">
			            <input
			                type="button"
			                class="botao detalhe"
			                value="+"
			                (click)="alternarSelecionar(index)"
			            />
			            <input
			                *ngIf="produto.estado == false"
			                type="button"
			                class="botao remover"
			                value="x"
			                (click)="remover()"
			            />
			        </div>
			    </div>
			    <div *ngIf="produto.selecionado">
				    <div class="produto-detalhe">
						<div class="row">
							<div class="col-6">
								<span class="label">nome:</span>
								{{ produto.nome }}
							</div>
							<div class="col-6">
								<span class="label">estado:</span>
								{{ produto.estado }}
							</div>
							<div class="col-6">
								<span class="label">tipo:</span>
								{{ produto.tipo }}
							</div>
							<div class="col-6">
								<span class="label">preço:</span>
								{{ produto.preco }} €
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
