#lista .container {
	background: #ef9a9a;
	padding: 2em 3em;
	border-radius: 5px;
}
#lista .header h3 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.4em;
	width: 20%;
	margin: 0 auto 0.8em;
}
.adicionar-produto {
	width: 100%;
	text-align: left;
}

/* produto css */
.numero {
	font-weight: bold;
	color: #fff;
}
.nome {
	color: #fff;
}
.texto {
	cursor: pointer;
}
.produto {
	padding: 0.8em 0.8em;
	margin-bottom: 0.2em;
	cursor: pointer;
}
.produto.selecionado {
	background-color: #ffcc80;
	border-radius: 3px;
}
.feito .nome, .feito .numero {
	color: #43a047;
}
.checkmark {
    margin-left: 5px;
    position: relative;
}

/* produto detalhe css */
.label {
	font-weight: 600;
}
.produto-detalhe {
	padding: 1em 2em;
}
.produto-detalhe * {
	text-align: left;
}