* {
    font-family: Arial;
    text-align: center;
}
h3 {
    margin-bottom: 10px;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.container {
    width: 40%;
    margin: 10px auto 0;
}
.row {
    margin-bottom: 5px;
}
.row:after {
    content: "";
    clear: both;
    display: table;
}
.col-6 {
    width: 50%;
    float: left;
    padding: 0 5px;
    box-sizing: border-box;
}
.col-4 {
    width: 33.33%;
    float: left;
    padding: 0 5px;
    box-sizing: border-box;
}
.col-9 {
    width: 75%;
    float: left;
}
.col-12 {
    width: 100%;
    float: left;
}
.col-3 {
    width: 25%;
    float: left;
}
#adicionar {
    margin-top: 100px;
}
#lista .container {
    color: #fff;
}
.botao {
    border: none;
    padding: 0.3em 0.7em;
    font-weight: 600;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
}
.botao.remover {
    background-color: #ff3d00;
    color: #fff;
}
.botao.detalhe {
    background-color: #fff;
    color: #000;
}
.submeter {
    color: #fff;
    background-color: #43a047;
}
#adicionar .botao.submeter {
    margin-top: 1em;
}