

<section>
    <article>
    <div class="container">
        <h4>
            <a href="TODO">
                TODO
            </a>
        </h4>
        <div class="image-container">
            <a href="TODO">
                <img src="TODO" />
            </a>
        </div>
        <div class="url-container">
            <a href="TODO">
                TODO
            </a>
        </div>
    </div>
</article>
</section>