/* projecto css */
article {
    margin-bottom: 7em;
}
h4 {
    text-transform: uppercase;
    font-size: 1.5em;
}
.container {
    width: 60%;
    margin: 0 auto;
}
.image-container {
    width: 90%;
    margin: 0 auto;
    height: 400px;
    overflow: hidden;
}
img {
    width: 100%;
}
.url-container {
    text-align: right;
    margin-top: 2em;
    margin-right: 10%;
}