<div id="adicionar">
	<app-header [titulo]="tituloAdicionar"></app-header>
	<div class="container">
		<div class="row">
			<div class="col-4">
				<input
					class="adicionar-produto"
					type="text"
					placeholder="produto"
				>
			</div>
			<div class="col-4">
				<input
					class="adicionar-produto"
					type="text"
					placeholder="tipo"
				>
			</div>
			<div class="col-4">
				<input
					class="adicionar-produto"
					type="text"
					placeholder="preco"
				>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<input
					type="button"
					value="Submeter"
					class="botao submeter"
					(click)="emitirAdicionarProduto()"
				>
			</div>
		</div>
	</div>
</div>
