<nav>
	<app-logo></app-logo>
	<a
        class="menu-item"
        href="/inicio"
    >
        Início
    </a>
	<a
        href="/projectos"
        class="menu-item"
    >
        Projectos
    </a>
    <a
        href="/sobre"
        class="menu-item"
    >
        Sobre
    </a>
</nav>