<div class="container">
    <app-titulo [titulo]="projecto.nome"> </app-titulo>

    <article>
        {{ projecto.detalhe }}
    </article>

    <div class="imagem-container">
        <img [src]="projecto.imagem" />
    </div>

    <div class="url-container">
        <a [href]="projecto.url">
            {{ projecto.url }}
        </a>
    </div>
</div>