article {
    width: 80%;
    margin: 3em auto;
}
.container {
    width: 60%;
    margin: 0 auto;
}
.imagem-container {
    text-align: center;
}
.imagem-container img {
    max-width: 100%;
}
.url-container {
    margin-top: 30px;
    margin-bottom: 100px;
    text-align: right;
}