<div id="produto">
    <div id="imagem">
        <img [src]="produto.thumbnailUrl" />
    </div>
    <div id="titulo">
        {{ produto.title }}
    </div>
    <div id="cta">
        <button (click)="adicionarCarrinho()">
            adicionar ao carrinho
        </button>
    </div>
</div>
