<article>
    <div class="container">
        <h4>
            <a href="{{projecto.url}}">
                {{ projecto.nome }}
            </a>
        </h4>
        <div class="image-container">
            <a href="{{ projecto.url }}">
                <img src="{{ projecto.imagem }}" />
            </a>
        </div>
        <div class="url-container">
            <a href="{{ projecto.url }}">
                {{ projecto.url }}
            </a>
        </div>
    </div>
</article>