<!--The content below is only a placeholder and can be replaced.-->
<div id="lista">
	<app-header [titulo]="tituloLista"></app-header>
	<div class="container">
		<div *ngFor="let produto of produtos; let index = index">
			<app-produto
				[produto]="produto"
				[index]="index"
				(remover)="remover(index)"
				(marcar)="alternarMarcar(index)"
				(selecionar)="alternarSelecionar(index)"
			></app-produto>
		</div>
	</div>
</div>
