<article>
    <div class="container">
        <a
            [routerLink]="['/projecto/', projecto.id]"
        >
            <h4>
                {{ projecto.nome }}
            </h4>
            <div class="image-container">
                <img src="{{ projecto.imagem }}" />
            </div>
            <div class="url-container">
                {{ projecto.url }}
            </div>
        </a>
    </div>
</article>