#configurar {
    text-align: center;
    width: 30%;
    margin: 0 auto;
    min-width: 600px    ;
    margin-top: 40px;
}
#configurar input {
    font-size: 1.3em;
}
#configurar input.selecionado {
    background: green;
    color: white;
}
#configurar-cronometro {
    width: 50%;
    min-width: 600px;
    margin: 0 auto;
    font-size: 1.2em;
    margin-top: 3em ;
}
#configurar-temporizador {
    width: 60%;
    min-width: 600px;
    margin: 0 auto;
    font-size: 1.2em;
    margin-top: 3em ;
}