<div id="configurar">
    <div class="row">
        <div class="col-6">
            <input
                type="button"
                value="cronómetro"
            />
        </div>
        <div class="col-6">
            <input
                type="button"
                value="temporizador"
            />
        </div>
    </div>
</div>
<div id="configurar-cronometro">
    <div class="row">
        <div class="col-4">
            <input
                type="button"
                value="Começar"
            >
        </div>
        <div class="col-4">
            <input
                type="button"
                value="Parar"
            >
        </div>
        <div class="col-4">
            <input
                type="button"
                value="Reset"
            >
        </div>
    </div>
</div>
<div id="configurar-temporizador">
    <div class="row">
        <div class="col-3">
            <select>
            </select>
            mins
            <select>
            </select>
            segs
        </div>
        <div class="col-3">
            <input
                type="button"
                value="Começar"
            />
        </div>
        <div class="col-3">
            <input
                type="button"
                value="Parar"
            />
        </div>
        <div class="col-3">
            <input
                type="button"
                value="Reset"
            />
        </div>
    </div>
</div>