.numero {
	font-weight: bold;
	color: #fff;
}
.nome {
	color: #fff;
}

.texto {
	cursor: pointer;
}
.produto {
	padding: 0.8em 0.8em;
	margin-bottom: 0.2em;
	cursor: pointer;
}
.produto.selecionado {
	background-color: #ffcc80;
	border-radius: 3px;
}
.feito .nome, .feito .numero {
	color: #43a047;
}
.checkmark {
    margin-left: 5px;
    position: relative;
}
