<div
    class="produto"
    (click)="emitirAlternarMarcarFeito()"
    [ngClass]="{'feito': produto.estado, 'selecionado': produto.selecionado}"
>
    <div
        class="row"
    >
        <div class="col-9">
            <div
                class="align-left texto"
            >
                <span class="numero">
                	{{ index + 1 }}.
            	</span>
            	<span class="nome">
                	{{ produto.nome }}
                </span>
            </div>
        </div>
        <div class="col-3 align-right">
            <input
                type="button"
                class="botao detalhe"
                [value]="botaoDetalheValor()"
                (click)="emitirAlternarSelecionar($event)"
            />
            <input
                *ngIf="produto.estado == false"
                type="button"
                class="botao remover"
                value="x"
                (click)="emitirRemover()"
            />
        </div>
    </div>
    <app-produto-detalhe
        *ngIf="produto.selecionado"
        [produto]="produto"
    ></app-produto-detalhe>
</div>
